{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "CANVAS_BASE_URL": "https://q.utoronto.ca",
    "CANVAS_TOKEN": "",
    "STORAGE_PROVIDER": "azure"
  }
}
